
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;
transition: background-color .5s;}
.bcontainer {
  position: absolute;
  margin: 0px;
  width: auto;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.kk
  {
    margin-top:0px;
    position:relative;
  float:right;
  }
table,th
{
color:orange;
padding:30px;
font-size:20px;
}
th
{

transition:0.2s ease;
height:2px;
}
th:hover
{

color:black;
transform:scale(0.8);
}
.pp>hovers
{
background:none;
}
  .jai
{
  background: pink;
  margin-top: 0;
  margin-left: 0;
  height:150px;
  position: relative;
  width: 100%;
}
.boss
{
height:150px;
width:20%;
top:0;
left:0;
padding:0;

}
.boss img
{
height:180px;
width:120%;
position: relative;
transition: 0.2s ease;
margin-top: 10px auto;
padding-top: 0px;
}
.boss img:hover{
  transform: scale(0.8);
}
.ram
{
height:150px;
width:80%;
left:20%;
top:0;
position:absolute;
background:none;
}
.ram h1
{
  font-family:Arial,Helvetica,sans-serif;
margin-top:0px;
margin-left:40%;
text-align:left;
color: mediumseagreen;
font-family:Palatino, serif;;
font-size:60px;
transition: 0.2s ease;
}
.ram h1:hover
{
  transform: scale(0.9);
  color:	#FF69B4;
}
.glow {
     font-family:Arial,Helvetica,sans-serif;
text-align:center;
font-size:300%;
font-weight: 1000%;
      -webkit-animation-duration: 1s;
     -webkit-animation-name: glow;
     -webkit-animation-direction: alternate;
     -webkit-animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-name: glow;
      animation-direction: alternate;
      animation-iteration-count: infinite;
  }
  @-webkit-keyframes glow {
      from { text-shadow: 0 0 0px cyan ; }
      to { text-shadow: 0 0 10px white; }
  }
  * {
 box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
   margin-top: 200px;
 position: relative;
 background: white;

}

/* Hide the images by default */
.mySlides {

 display: none;
 height:500px;
 width:372px;
margin-left:75%;
margin-right: 25px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
 cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
 cursor: pointer;
 position: absolute;
 top: 40%;
 width: auto;
 padding: 16px;
 margin-top: -50px;
 color: black;
 font-weight: bold;
 font-size: 20px;
 border-radius: 0 3px 3px 0;
 user-select: none;
 -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
 background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
 color: #f2f2f2;
 font-size: 12px;
 padding: 8px 12px;
 position: absolute;
 top: 0;
}

/* Container for image text */
.caption-container {
 text-align: center;
 background-color: #222;
 padding: 2px 16px;
 color: white;
}

.row1:after {
 content: "";
 display: table;
 clear: both;
}

/* Six columns side by side */
.column1 {

 float: left;
 width: 16.66%;
 height:250px;
}

/* Add a transparency effect for thumnbail images */
.demo {
 opacity: 0.6;
}

.active,
.demo:hover {
 opacity: 1;
}
